<<<<<<< HEAD
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
=======
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.bg-gray {
  background-color: #fcfcfd;
}

.bg-darkGray {
  background-color: #b5b5c3;
}

.bg-blue {
  background-color: #00b2ff;
}

.bg-input {
  background-color: #f5f8fa;
}

.form-control-solid {
  background-color: #f5f8fa;
  border-color: #f5f8fa;
  color: #5e6278;
  transition: color 0.2s ease, background-color 0.2s ease;
}
>>>>>>> 6e394095691dac357cc2baa6e8489b2f7d785c20
